body{
    background-color: #00040D;
}

#blk-grid{
    display: flex;
    flex-direction: column;
    background-color: #00040D;
    height: fit-content;
    width: 100%;
    align-items: center;
}  

.grid{
    width: 60vw;
    height: fit-content;

    display: grid;
    gap: 10%;

    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.5s;

    background-color: #F1F1F1;
    border-radius: 8px;
    padding: 10%;
}

.box:hover{
    transform: scale(1.2);
}

.grid-item{
    display: inline-grid;
    color: black;
}

h2{
    margin: 1vh;

    color: black;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-decoration: none;
}