body {
    background-color: #f1f1f1;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    height: fit-content;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #00040D;
}

.header-visible {
    top: 0;
    transition: top 0.4s ease-out;
}

.header-hidden {
    top: -20%;
    transition: top 0.4s ease-out;
}

header h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
    color: white;
    flex: 9;
    margin: 8px;
}

.menu-logo{
    flex: 1;
}

button{
    flex: 1;
    background-color: transparent;
    border: none;
}

.img-frame{
    width: 100%;
    height: 50%;
}

.menu{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.dropdown{
    flex:1;
    position: inherit;
    display: flex;
    flex-direction: column;
    background-color: #00040D;
    align-items: center;
    border-radius: 16px;
    margin-top: 30vh;
    width: 20vw;
    margin-left: 80vw;
    height: 20vh;
    padding: 10px;
    transition: .5s;
}

h2{
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#intro-div{
    display: flex;
    flex-direction: column;
    background-color: #00040D;
    min-height: 800px;
    height: fit-content;
    width: 100%;
    align-items: center;
}

h1{
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: white;
    user-select: none;
}

.line{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 10px;
    height: fit-content;
}

.white-div{
    width: 100%;
    min-height: 150px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}