body {
    background-color: #f1f1f1;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    height: fit-content;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #00040D;
}

.header-visible {
    top: 0;
    transition: top 0.4s ease-out;
}

.header-hidden {
    top: -20%;
    transition: top 0.4s ease-out;
}

header h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
    color: white;
    margin: 8px;
}

#img-frame{
    width: 100%;
    height: 50%;
}

#intro-div{
    display: flex;
    flex-direction: column;
    background-color: #00040D;
    height: 800px;
    width: 100%;
    align-items: center;
}

h1{
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: white;
    user-select: none;
}

.line{
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10px;
}

.white-div{
    width: 100%;
    min-height: 150px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}