body {
    background-color: #f1f1f1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    height: fit-content;
}

#header-spacing {
    width: 100vw;
    height: 10vw;
}

#header-line{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
}

#header-spacing {
    width: 100vw;
    height: 10px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #00040D;
}

.header-visible {
    top: 0;
    transition: top 0.4s ease-out;
    background-color: #00040D;
}

.header-hidden {
    top: -20%;
    transition: top 0.4s ease-out;
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
    color: white;
    flex: 9;
    margin: 8px;
}

.menu-logo {
    flex: 1;
    cursor: pointer;
}

button {
    flex: 1;
    background-color: transparent;
    border: none;
}

.img-frame {
    width: 100%;
    height: 50%;
}

.menu {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#menu-void{
    flex: 9;
    width: 100%;
    height: 100%;
}

.dropdown{
    flex:1;
    position: inherit;
    display: flex;
    flex-direction: column;
    background-color: #00040D;
    align-items: center;
    border-radius: 16px;
    margin-top: 10vh;
    width: 4vw;
    margin-left: 91.25vw;
    min-height: fit-content;
    padding: 20px;
}

.menu-item {
    margin: 10px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#intro-div {
    display: flex;
    flex-direction: column;
    background-color: #00040D;
    min-height: 800px;
    height: fit-content;
    width: 100%;
    align-items: center;
}

h1 {
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: white;
    user-select: none;
}

.line {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 10px;
    height: fit-content;
}

.white-div {
    width: 100%;
    min-height: 150px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}